# Node modules and environment files
node_modules/
.env
.env.local
.env.*.local

# Log files and build outputs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# IDE/editor/project files
.vscode/
.idea/
.DS_Store
